# Danendra Dipa Dananjaya
# 22537141003
# Linear Regression

## Import Libraries And Dataset

In [1]:
import pandas as pd
import joblib
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [2]:
house_df = pd.read_csv('house_data.csv')
house_df

,NO,NAMA RUMAH,HARGA,LB,LT,KT,KM,GRS
0,1,"Rumah Murah Hook Tebet Timur, Tebet, Jakarta S...",3800000000,220,220,3,3,0
1,2,"Rumah Modern di Tebet dekat Stasiun, Tebet, Ja...",4600000000,180,137,4,3,2
2,3,"Rumah Mewah 2 Lantai Hanya 3 Menit Ke Tebet, T...",3000000000,267,250,4,4,4
3,4,"Rumah Baru Tebet, Tebet, Jakarta Selatan",430000000,40,25,2,2,0
4,5,"Rumah Bagus Tebet komp Gudang Peluru lt 350m, ...",9000000000,400,355,6,5,3
...,...,...,...,...,...,...,...,...
1005,1006,Rumah Strategis Akses Jalan 2mobil Di Menteng ...,9000000000,450,550,10,10,3
1006,1007,Tebet Rumah Siap Huni Jln 2 Mbl Nyaman,4000000000,160,140,4,3,2
1007,1008,"Di Kebun Baru Rumah Terawat, Area Strategis",4000000000,139,230,4,4,1
1008,1009,Dijual Cepat Rumah Komp Depkeu Dr Soepomo Tebe...,19000000000,360,606,7,4,0
1009,1010,Dijual Rumah Kokoh Di Gudang Peluru,10500000000,420,430,7,4,2

Penjelasan kolom :

LB : Luas bangunan

LT : Luas tanah

KT : Kamar tidur

KM : Kamar mandi

GRS : Garasi

In [3]:
house_df.columns = house_df.columns.str.lower()
house_df

,no,nama rumah,harga,lb,lt,kt,km,grs
0,1,"Rumah Murah Hook Tebet Timur, Tebet, Jakarta S...",3800000000,220,220,3,3,0
1,2,"Rumah Modern di Tebet dekat Stasiun, Tebet, Ja...",4600000000,180,137,4,3,2
2,3,"Rumah Mewah 2 Lantai Hanya 3 Menit Ke Tebet, T...",3000000000,267,250,4,4,4
3,4,"Rumah Baru Tebet, Tebet, Jakarta Selatan",430000000,40,25,2,2,0
4,5,"Rumah Bagus Tebet komp Gudang Peluru lt 350m, ...",9000000000,400,355,6,5,3
...,...,...,...,...,...,...,...,...
1005,1006,Rumah Strategis Akses Jalan 2mobil Di Menteng ...,9000000000,450,550,10,10,3
1006,1007,Tebet Rumah Siap Huni Jln 2 Mbl Nyaman,4000000000,160,140,4,3,2
1007,1008,"Di Kebun Baru Rumah Terawat, Area Strategis",4000000000,139,230,4,4,1
1008,1009,Dijual Cepat Rumah Komp Depkeu Dr Soepomo Tebe...,19000000000,360,606,7,4,0
1009,1010,Dijual Rumah Kokoh Di Gudang Peluru,10500000000,420,430,7,4,2

In [4]:
house_df = house_df.drop(columns=['no', 'nama rumah'])
house_df

            harga   lb   lt  kt  km  grs
0      3800000000  220  220   3   3    0
1      4600000000  180  137   4   3    2
2      3000000000  267  250   4   4    4
3       430000000   40   25   2   2    0
4      9000000000  400  355   6   5    3
...           ...  ...  ...  ..  ..  ...
1005   9000000000  450  550  10  10    3
1006   4000000000  160  140   4   3    2
1007   4000000000  139  230   4   4    1
1008  19000000000  360  606   7   4    0
1009  10500000000  420  430   7   4    2

[1010 rows x 6 columns]

In [5]:
house_df.shape

(1010, 6)

In [6]:
house_df.head()

        harga   lb   lt  kt  km  grs
0  3800000000  220  220   3   3    0
1  4600000000  180  137   4   3    2
2  3000000000  267  250   4   4    4
3   430000000   40   25   2   2    0
4  9000000000  400  355   6   5    3